@model IEnumerable<Models.EF.NguyenLieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="card-header">
    <a class="addnv card-title ">@Html.ActionLink("Create New", "Create")</a>
</div>
@using (Html.BeginForm())
{
    <nav class="navbar navbar-expand-lg navbar-dark blue lighten-2 mb-4">

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="form-inline mr-auto">
                @Html.TextBox("searchingg")

                <button type="submit" class="btn btn-primary btn-success btn-sm">Search</button>
            </form>

        </div>
        <!-- Collapsible content -->
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Navbar</a>

    </nav>
    @*<p>
            Search by Name @Html.TextBox("searching",new { @class = "form-control" })
        </p>*@
}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class=" text-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenNL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DVT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NhaCungCap)
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
             {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.TenNL)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DVT)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap)
            </td>
             <td>
                <button class="btn btn-outline-primary btn-sm">@Html.ActionLink("Edit", "Edit", new { id = item.MaNL })</button>
            </td>
             <td>
                <button class="btn btn-outline-primary btn-sm">@Html.ActionLink("Details", "Details", new { id = item.MaNL }) </button>

            </td>
             <td>
                <button class="btn btn-outline-primary btn-sm">@Html.ActionLink("Delete", "Delete", new { id = item.MaNL }) </button>

            </td>
           
        </tr>
             }

        </table>
    </div>
</div>
