@model Models.EF.NhanVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<div class="card-header">
    <h5 class="card-title">Bạn có muốn xóa nhân viên này không??</h5>
</div>
<div class="card-body">
    <form>
        <div class="row">
            <div class="col-md-10 ">
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.HoTen)</label>
                    <br />
                    <label> @Html.DisplayFor(model => model.HoTen)</label>


                </div>
            </div>
            <div class="col-md-10 ">
                <div class="form-group">
                    <label> @Html.DisplayNameFor(model => model.NgaySinh)</label>
                    <br />
                    <label> @Html.DisplayFor(model => model.NgaySinh)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 ">
                <div class="form-group">
                    <label> @Html.DisplayNameFor(model => model.SDT)</label>
                    <br />
                    <label> @Html.DisplayFor(model => model.SDT)</label>
                </div>
            </div>
            <div class="col-md-10 ">
                <div class="form-group">
                    <label> @Html.DisplayNameFor(model => model.ViTri)</label>
                    <br />
                    <label> @Html.DisplayFor(model => model.ViTri)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 ">
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.LuongCoBan)</label>
                    <br />
                    <label> @Html.DisplayFor(model => model.LuongCoBan)</label>


                </div>
            </div>
        
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-warning">Delete</button>
                <button type="button" class="btn btn-outline-success">@Html.ActionLink("Back to List", "Index")</button>
            </div>
        }
    </form>
</div>
